:root {
    --background-color: #2A2F40;
    --text-color: #D9D8D7;
    --primary-dark: #2F6673;
    --primary-light: #9BBFBC;
    --accent-color: #FF69B4;
    --accent-color-light: #D9B0CE;
    --grid-size: min(72vh, 40vw);
    --mobile-grid-size: 76vw;
    --small-font: min(1.7vh, 0.94vw);
    --hover-cell-color: #FF69B4;
}

* {
    font-family: 'Lucida Grande','Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
    text-align: center;
    color: var(--text-color);
    user-select: none;
}

body {
    background-color: var(--background-color);
}

header h1 {
    font-family: myriad-pro, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    margin: 2rem;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

/* settings */

.settings-wrapper {
    height: var(--grid-size);
    width: 25%;
    display: flex;
    justify-content: space-between;
}

.settings-columm {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45%;
}

.settings-bottom {
    margin: 2rem auto 0;
    width: 77%;
    height: calc(var(--grid-size) / 9);;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* buttons */

button {
    background-color: var(--primary-dark);
    border: 0.18em solid var(--accent-color);
    border-radius: 0.5em;
    font-size: var(--small-font);
    -webkit-transition: .2s;
    transition: filter .2s;
}

.settings-columm > button {
    height: 11%;
}

.settings-bottom > button {
    width: 20%;
    height: 100%;
}

button.active-mode, button:active {
    background-color: var(--primary-light);
    color: var(--background-color);
    border-color: var(--primary-light);
}

.disabled {
    pointer-events: none;
    filter: brightness(0.8);
}

.separator {
    height: 0.18rem;
    background-color: var(--accent-color-light);
    border-radius: 0.5rem;
    opacity: 0.5;
}

/* icons */

img {
    display: block;
    margin: 0 auto;
    height: 50%;
}

button.active-mode > img, button:active > img {
    filter: invert(46%) sepia(40%) saturate(2670%) hue-rotate(303deg) brightness(110%);
}

/* color pickers */

.color-picker * {
    text-align: left;
    font-size: var(--small-font);
}

input[type='color'] {
    cursor: pointer;
    background-color: transparent;
    border: none;
    margin-right: 0.5em;
    width: 3.3em;
    height: 2em;
    -webkit-transition: .2s;
    transition: filter .2s;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0.1rem;
}
  
input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 0.8rem;
}

input[type='color']::-moz-color-swatch-wrapper {
    padding: 0.1rem;
}
  
input[type='color']::-moz-color-swatch {
    border: none;
    border-radius: 0.8rem;
}

/* grid size slider */

.slidecontainer {
    width: 30%;
}

.slidecontainer > p {
    margin: 0;
    font-size: var(--small-font);
}
#slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 0.5rem;
    border-radius: 0.5rem;
    background: var(--primary-light);
    outline: none;
    -webkit-transition: .2s;
    transition: filter .2s;
    margin: 2.5% 0 0;
}

#slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
}
#slider::-moz-range-thumb {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background: var(--accent-color);
    cursor: pointer;
}

/* grid */

#grid {
    width: var(--grid-size);
    height: var(--grid-size);
    display: grid;
    box-sizing: border-box;
    border: 3px solid var(--accent-color-light);
}

/* footer */

html {
    position: relative;
    min-height: 100%;
}

#content-wrapper {
    padding-bottom: 4.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4.5rem;
}

footer p {
    font-size: var(--small-font);
    margin: 2rem 0 0;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    -webkit-transition: .2s;
    transition: color .2s;
}

/* hover effect */

@media (hover: hover) {
    button:hover {
        cursor: pointer;
        filter: brightness(1.2);
    }
    #brush-color:hover, #bg-color:hover, #slider:hover {
        filter: brightness(1.2);
    }
    #grid > div:not(#dark):not(#light):hover {
        background-color: var(--hover-cell-color) !important;
    }
    #grid > #dark:hover {
        filter: brightness(0.9);
    }
    #grid > #light:hover {
        filter: brightness(1.1);
    }
    footer a:hover {
        color: var(--accent-color);
    }
}

/* mobile */

@media (orientation: portrait) {
    :root {
        --small-font: 0.9vh;
    }
    .main {
        flex-direction: column;
        align-items: center;
    }
    .settings-wrapper {
        width: var(--mobile-grid-size);
        height: auto;
        flex-direction: column;
        gap: 1rem;
    }
    .settings-columm {
        width: 100%;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .settings-columm > button {
        width: 24%;
    }
    .settings-columm > button:first-child {
        width: 36%;
    }
    .separator {
        display: none;
    }
    img {
        height: 3.6vw;
    }
    #grid {
        width: var(--mobile-grid-size);
        height: var(--mobile-grid-size);
        margin: 4rem;
    }
    .settings-bottom {
        margin: 0 auto;
        height: auto;
        flex-wrap: wrap;
        row-gap: 1rem;
    }
    .settings-bottom > * {
        width: 40% !important;
    }
}