* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.main {
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.settings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#grid {
    width: 500px;
    height: 500px;
    display: grid;
    border: 5px solid pink;
}

button.active {
    background-color: cornflowerblue;
}